rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isAuthenticated() {
      return request.auth != null;
    }

    function userData() {
      return firestore.get(/databases/(default)/documents/users/$(request.auth.uid)).data;
    }

    function hasPermission(permission) {
      return isAuthenticated() &&
        userData().permissions is list &&
        ('*:*:*' in userData().permissions || permission in userData().permissions);
    }

    match /societies/{societyId}/events/{allPaths=**} {
      allow read: if isAuthenticated();
      allow write: if hasPermission('society:*:manage') || hasPermission('society:' + societyId + ':manage');
    }

    match /{allPaths=**} {
      allow read: if isAuthenticated();
      allow write: if false;
    }
  }
}

